<div class="row">
    <div class="col-12">
        <ul class="list-group">
            <li class="list-group-item list-group-item-primary" *ngFor="let todo of todos; let i = index" [@onAdd]>
                <span class="d-flex justify-content-between">
                    {{todo}}
                    <button class="btn btn-danger btn-sm" (click)="onDelete(i)">
                        <fa-icon [icon]="faTrash" class="fa-sm"></fa-icon>
                    </button>
                </span>
            </li>
        </ul>
    </div>
</div>