<form (ngSubmit)="onAdd(f)" #f="ngForm">
  <div class="form-group">
    <div class="d-flex justify-content-center">

      <!-- <input type="text" class="form-control" style="width: 60%" name="todo" placeholder="Enter todo"
        (keyup)="onEntry($event)" required ngModel> -->

        <input type="text" class="form-control" style="width: 60%" name="todo" placeholder="Enter todo"
        (keyup)="onEntry(input.value)" #input required ngModel>

      <button class="btn btn-success ml-2" [disabled]="f.invalid || invalid">
        <fa-icon [icon]="faPlusCircle" class="fa-lg"></fa-icon>
      </button>

    </div>

    <small *ngIf="invalid" class="d-flex justify-content-center form-text text-danger">
      Todo already exists
    </small>
  </div>
</form>